#header{
    background-color: #fdeffc;
    padding: 30px 0;
    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        a{
            color: #b2a4b3;
            &.active{
                color: #715a6f;
            }
        }
    }
}